---
import { Image } from 'astro:assets'
import ButtonHeader from '../components/ui/ButtonHeader.astro'
import { arrowHeader, email, github, linkedin, headerBackground } from '../assets/images'
---

<section class="relative mt-20 flex" id="header_section">
  <div>
    <span class="text-lg text-primary font-semibold">Welcome to my portfolio</span>
    <h2 class="text-7xl font-bold mt-7 leading-[5.5rem]">
      Hello, my <br /> name's<span class="text-primary"> Roberth</span>.
    </h2>
    <p class="text-textGray font-semibold text-start mt-5">
      <span class="text-white">Frontend developer</span> and <span class="text-white"
        >web designer.</span
      >
      <br /> focused on creating quality digital experiences.
    </p>

    <!-- button cv donwload -->
    <div class="flex mt-10">
      <a
        href="https://drive.google.com/file/d/1bAJFmA0CdttdE8HvcaupqYqCNPCsjUSq/view?usp=sharing"
        target="_blank"
      >
        <ButtonHeader background={true} text="Download CV" />
      </a>

      <!-- button see portfolio -->
      <a href="#projects_section">
        <ButtonHeader background={false} text="See my work">
          <Image class="w-auto h-2 ml-5" src={arrowHeader} alt={'image-button'} />
        </ButtonHeader>
      </a>
    </div>

    <div class="flex items-center h-10">
      <span> Contact me </span>

      <a
        class="ml-6 p-2"
        href="https://www.linkedin.com/in/roberth-loor-837744227/?locale=en_US"
        target="_blank"
      >
        <Image class="w-auto h-8 -mb-2" alt="Linkedin" , src={linkedin} />
      </a>

      <a class="ml-6 p-2" href="https://github.com/RoberthLoorDev" target="_blank">
        <Image class="w-auto h-8 -mb-2" alt="Github" , src={github} />
      </a>

      <a class="ml-6 p-2" href="mailto:dayvidlife@gmail.com">
        <Image class="w-auto h-8 -mb-2" alt="Email" , src={email} />
      </a>
    </div>
  </div>

  <img
    class="shadow-image-header absolute -top-10 right-0 -z-10 w-auto h-[552px] opacity-50"
    src={headerBackground.src}
  />
</section>

<style></style>
