---
import { Image } from 'astro:assets'
import { work, education } from '../../assets/images'
import Tags from '../ui/Tags.astro'
import { arrowUp } from '../../assets/icons/images'

interface Props {
     title: string
     date: string
     isLast?: boolean
     isEducation?: boolean
     tags?: string[]
     link?: string
}

const { isLast, date, title, isEducation, tags = [''], link } = Astro.props
---

<div class="flex mb-16 relative enter-animation">
     <Image
          class="w-auto h-6 mb-24 mt-6"
          alt="Work Experience"
          src={isEducation ? education : work}
     />

     <!-- Line -->
     {
          isLast ? (
               ''
          ) : (
               <div class="absolute w-[2px] h-[100%] bg-primary top-16 left-3 rounded-lg" />
          )
     }

     {
          link ? (
               <a href={link} target="_blank" class="box-experience ml-5">
                    <span class="text-base text-textGray">{date}</span>
                    <h4
                         class="title-experience -mt-[2px] underline lg:no-underline"
                         class:list={{ ['hover:underline']: link }}
                    >
                         {title}
                         <p
                              class="inline-block rotate-45 ml-3"
                              class:list={{ hidden: !link }}
                         >
                              ↑
                         </p>
                    </h4>
                    <p class="mt-4 text-base font-light">
                         <slot />
                         <div class="flex mt-1 flex-wrap">
                              {tags.map((tag) => (
                                   <Tags title={tag} />
                              ))}
                         </div>
                    </p>
               </a>
          ) : (
               <div class="box-experience ml-5">
                    <span class="text-base text-textGray">{date}</span>
                    <h4 class="title-experience -mt-[2px]">{title}</h4>
                    <p class="mt-4 text-base font-light">
                         <slot />
                         <div class="flex mt-1 flex-wrap">
                              {tags.map((tag) => (
                                   <Tags title={tag} />
                              ))}
                         </div>
                    </p>
               </div>
          )
     }
</div>

<style>
     /* add animation */
     .enter-animation {
          animation: appear 5s linear;
          animation-timeline: view();
          animation-range: entry 0% cover 30%;
     }

     @keyframes appear {
          0% {
               opacity: 0;
               transform: translateX(200px);
          }

          100% {
               opacity: 1;
               translatex: 0px;
               transform: translateX(0px);
          }
     }
</style>
